- breadcrumb_title "Repository"
- page_title "编辑", @blob.path, @ref
- content_for :page_specific_javascripts do
  = page_specific_javascript_tag('lib/ace.js')

- if @conflict
  .alert.alert-danger
    有人与您同时编辑了这个文件，请检出
    = link_to "这个文件", project_blob_path(@project, tree_join(@branch_name, @file_path)), target: "_blank", rel: 'noopener noreferrer'
    并确保您不会无意中删除了其他人的更改。
.editor-title-row
  %h3.page-title.blob-edit-page-title
    编辑文件
  = render 'template_selectors'
.file-editor
  %ul.nav-links.no-bottom.js-edit-mode.nav.nav-tabs
    %li.active
      = link_to '#editor' do
        写入

    %li
      = link_to '#preview', 'data-preview-url' => project_preview_blob_path(@project, @id) do
        = editing_preview_title(@blob.name)

  = form_tag(project_update_blob_path(@project, @id), method: :put, class: 'js-quick-submit js-requires-input js-edit-blob-form', data: blob_editor_paths(@project)) do
    = render 'projects/blob/editor', ref: @ref, path: @path, blob_data: @blob.data
    = render 'shared/new_commit_form', placeholder: "更新 #{@blob.name}"
    = hidden_field_tag 'last_commit_sha', @last_commit_sha
    = hidden_field_tag 'content', '', id: "file-content"
    = hidden_field_tag 'from_merge_request_iid', params[:from_merge_request_iid]
    = render 'projects/commit_button', ref: @ref, cancel_path: project_blob_path(@project, @id)
